@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #d8e2ec;
  }
  header{
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: space-between;
     
  }
 header .img-container{
     width: 100px;
 }
 img{
     width:100%;
     height: auto;

 }
 
 .search-input:focus{
     outline: none;
 }
 .search-form{
    width: 40%;
    border: 1px solid rgb(224, 221, 221);
    background-color: #e5eaf0;
    border-radius: 5px;
    padding: 5px;
      
 }
 .search-input{
    width: 100%;
  outline: none;
  border: none;
  background-color: inherit;
 }
 .search-form:hover{
     border-color:#1a7cd8;
 }
 
 .logs{
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 .login{
    background:white;
    color: #1a7cd8;
    text-decoration: none;
    padding:5px 40px;
    border-radius:100px;
    border: 1px solid;
    border-color:#1a7cd8 ;
 }
 .signup{
    background: #1a7cd8;
    color: white;
    text-decoration: none;
    margin-left: 20px;
    padding:5px 40px;
    border-radius:100px;
    margin-right: 40px;
 }
 .signup:hover{
     cursor: pointer;
 }
 .login:hover{
    cursor: pointer;
}
 .input-field {
    border-radius: 5px;
    padding: 3px;
    width: 180px;
    border: none;
    outline: none;
    margin: 10px;
  }
  .signup-container{
      width: 500px;
      height: 500px;
      margin: auto;
      margin-top: 300px;
  }
  .user-img-header{
     width: 100%;
      border-radius: 50%;
      height: auto;
  }
  .img-header-container{
      width: 60px;
    }
    .posts-container{
        width: 600px;
        margin-top: 100px;
        margin-left: 30%;
        display: flex;
        flex-direction: column;
        

        
    }
    .post{
        width: 100%;  
        background-color: white; 
        display: flex; 
        margin: 20px 10px;  
    }
    .votes-container{
        min-height:100% ;
        width: 10%;
        background-color: rgb(234, 229, 236);
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    #arrow-up:hover{
        cursor: pointer;
        color:red
    }
    #arrow-down:hover{
        cursor: pointer;
        color:blue;
    }
    .posted-by{
        color: gray;
        font-size: 0.8rem;
    }
    .posted-by a{
        color:gray;
    }
    .post-title{
        font-weight: bold;
        font-size: 1.2rem;
    }
    #comments-section{
        margin-left: 10px;
        font-size: 25px;
    }
    #comments-section:hover{
        cursor: pointer;
    }
    .post-img{
        max-height: 500px;
    }